{% extends 'main/base.html' %}
{% block title %}
    All Items
{% endblock %}

{% block content %}
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
        <th scope="col">owner</th>
      </tr>
    </thead>
    <tbody>
        {% for item in items %}
        {% include 'main/includes/items_modals.html' %}
            <tr>
                <th scope="row">{{ item.pk }}</th>
                <td>{{ item.name }}</td>
                <td>
                    <img alt="image" style="width:64px" src="{{ item.image_url }}">
                </td>
                <td>{{ item.price }}$</td>
                <td>
                    <button type="button" class="btn btn-outline-primary"
                            data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo{{ item.pk }}">
                        More Info
                    </button>
                    <button
                            type="button" class="btn btn-outline-success"
                            data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm{{ item.pk }}">
                        Purchase this Item
                    </button>
                </td>
                <td>{{ item.owner }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}