{% extends 'main/base.html' %}
{% block title %}
    All Items
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for item in items %}
    {% include 'main/includes/items_modals.html' %}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.price }}$</p>
          <p class="card-text">Stock {{ item.stock }}</p>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#Modal-MoreInfo{{ item.pk }}">More Info</button>
            <button type="button" class="btn btn-outline-success"
                    {% if item.stock <= 0 %} disabled {% endif %}
                    data-bs-toggle="modal" data-bs-target="#Modal-PurchaseConfirm{{ item.pk }}">
                Purchase this Item
            </button>

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}